
<ul role="menubar">
	<li role="menuitem"><h1><a href="{{base}}">{{site}}</a></h1></li>
{{#menu}}
	<li role="menuitem" class="menu-{{id}} {{selected}}"><a href="{{href}}">{{text}}</a></li>
{{/menu}}
</ul>
