
{{#is_logged}}
<ul role="menubar">

	{{#notifications}}
	<li role="menuitem" class="menu-notification {{class}}">{{{link}}}</li>
	{{/notifications}}

	<li role="menuitem" aria-haspopup="true" class="menu-profile">
		{{{avatar}}} {{{user}}} <var>[#{{id}}]</var> <a href="#" class="toggler" onclick="$('#visitor .submenu').toggleClass('toggled'); return false;">&#9660;</a>
		<ul role="menu">
			{{#menu}}
			<li role="menuitem" class="menu-{{type}}">{{{link}}}</li>
			{{/menu}}
		</ul>
	</li>

	<li role="menuitem" class="menu-signout"><a href="{{routes.signout}}">Sign out</a></li>

	<li class="menu-theme">
		Theme: {{#skins}} {{{.}}}{{/skins}}
	</li>

	<li class="menu-clock">
		<time class="clock">
			<span class="time">{{{time}}}</span>
			<span class="icon date" title="{{{sunrise}}}">{{{date}}}</span>
		</time>
	</li>

</ul>
{{/is_logged}}

{{^is_logged}}
<form action="{{routes.signin}}" method="post">
	<ul>
		<li><input type="text" name="username" placeholder="Username" /></li>
		<li><input type="password" name="password" placeholder="Password" /></li>
		<li><input type="submit" name="signin" value="Sign in" /></li>
		<li><a href="{{routes.signup}}">Sign up!</a></li>

		<li class="menu-theme">
			Theme: {{#skins}} {{{.}}}{{/skins}}
		</li>

		<li class="menu-clock">
			<time class="clock">
				<span class="time">{{{time}}}</span>
				<span class="icon date" title="{{{sunrise}}}">{{{date}}}</span>
			</time>
		</li>
	</ul>
</form>
{{/is_logged}}
