[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = http://github.com/kohana/pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohana/image.git
[submodule "modules/venues"]
	path = modules/venues
	url = git@github.com:anqh/venues.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:anqqa/kohana-postgresql.git
[submodule "modules/email"]
	path = modules/email
	url = http://github.com/banks/kohana-email.git
[submodule "www/js/headjs"]
	path = www/js/headjs
	url = https://github.com/headjs/headjs.git
[submodule "modules/asset"]
	path = modules/asset
	url = git://github.com/goyote/asset.git
[submodule "modules/msg"]
	path = modules/msg
	url = git://github.com/goyote/msg.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
[submodule "www/js/markitup"]
	path = www/js/markitup
	url = git://github.com/markitup/1.x.git
[submodule "www/static/bootstrap"]
	path = www/static/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "modules/music"]
	path = modules/music
	url = git@github.com:anqh/music.git
[submodule "www/static/bootstrap-j"]
	path = www/static/bootstrap-j
	url = git://github.com/jasny/bootstrap.git
