[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = http://github.com/kohana/pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohana/image.git
[submodule "modules/anqh"]
	path = modules/anqh
	url = git@github.com:anqh/core.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:anqh/blog.git
[submodule "modules/events"]
	path = modules/events
	url = git@github.com:anqh/events.git
[submodule "modules/forum"]
	path = modules/forum
	url = git@github.com:anqh/forum.git
[submodule "modules/venues"]
	path = modules/venues
	url = git@github.com:anqh/venues.git
[submodule "modules/galleries"]
	path = modules/galleries
	url = git@github.com:anqh/galleries.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = http://github.com/jonathangeiger/kohana-jelly.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = http://github.com/cbandy/kohana-postgresql.git
[submodule "modules/email"]
	path = modules/email
	url = http://github.com/banks/kohana-email.git
