[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohana/database.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohana/cache.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = http://github.com/kohana/pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohana/orm.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohana/image.git
[submodule "modules/anqh"]
	path = modules/anqh
	url = git@github.com:anqh/core.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:anqh/blog.git
[submodule "modules/events"]
	path = modules/events
	url = git@github.com:anqh/events.git
[submodule "modules/forum"]
	path = modules/forum
	url = git@github.com:anqh/forum.git
[submodule "modules/venues"]
	path = modules/venues
	url = git@github.com:anqh/venues.git
[submodule "modules/galleries"]
	path = modules/galleries
	url = git@github.com:anqh/galleries.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:anqqa/kohana-postgresql.git
[submodule "modules/email"]
	path = modules/email
	url = http://github.com/banks/kohana-email.git
[submodule "www/js/headjs"]
	path = www/js/headjs
	url = https://github.com/headjs/headjs.git
[submodule "modules/asset"]
	path = modules/asset
	url = git://github.com/goyote/asset.git
[submodule "modules/msg"]
	path = modules/msg
	url = git://github.com/goyote/msg.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = git://github.com/creatoro/kohana-jelly-for-Kohana-3.1.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
