@import "bootstrap.less";
@import "bootstrap-overrides.less";
@import "typeahead.less";


//
// Custom mixins
// --------------------------------------------------
.ajax                                  { background-image: url("@{icon-ajax-path}"); background-position: right top; background-repeat: no-repeat; }

//
// jQuery
// --------------------------------------------------
.ui-helper-clearfix                    { .clearfix; }
.ui-datepicker                         { z-index: 2 !important;
  .ui-datepicker-header                { position: relative;
    .ui-datepicker-prev,
    .ui-datepicker-next                { cursor: pointer; padding: @padding-base-vertical; position: absolute; text-align: center; top: 2px; }
    .ui-datepicker-prev                { left: 0; }
    .ui-datepicker-next                { right: 0; }
    .ui-datepicker-title               { margin: 0 2em; text-align: center;
      select                           { float: left; .form-control; text-align: center; width: 50%; }
    }
  }
  &:not(.ui-datepicker-inline)         { .popover;
    .ui-datepicker-header              { .clearfix; .popover-title;
      .ui-datepicker-prev,
      .ui-datepicker-next              { top: 8px; }
    }
  }
  table                                { .table; margin-bottom: 0; width: 100%; }
  th                                   { text-align: right; }
  th.ui-datepicker-week-col,
  td                                   { cursor: pointer; text-align: center; }
  .ui-datepicker-unselectable          { cursor: default; }
  .ui-datepicker-today                 { border: 1px solid @state-danger-border; }
  .ui-datepicker-current-day           { background-color: @state-info-bg; }
  .ui-datepicker-other-month           { .text-muted; }
}


//
// Misc items
// --------------------------------------------------
.nowrap                                { white-space: nowrap; }
.user                                  { color: @gray-darkest; font-weight: bold; }
.male                                  { color: @brand-info; }
.female                                { color: @brand-lovely; }
.user:hover                            { color: @link-hover-color; }
a.friend                               { text-decoration: underline; }
.avatar                                { display: inline-block; .square(50px); text-align: center;
  &.small                              { .square(25px); }
  img                                  { max-height: 100%; max-width: 100%; }
}
.avatar + .user                        { margin-left: 5px; }
input.private                          { border-color: @brand-special; color: @brand-special; }
.private div                           { color: @brand-special; }
.monospace                             { font-family: @font-family-monospace; }

#map                                   { .size(100%, 250px);
//  img                                  { display: inline; max-width: none; width: auto; }
}

.kohana                                { display: none; position: relative; z-index: 1; }


//
// BBCode
// --------------------------------------------------
.markItUpHeader                        { //height: 28px; position: relative;
  & > ul                               { padding: 0; }
/*  & > ul                               { left: 0; margin: 0; position: absolute; top: 0; }
  ul ul                                { display: none; list-style-type: none; margin: 0; }
  .btn                                 { text-shadow: none; }*/
  .btn .fa                             { font-size: 14px; }
}
.smileys .smiley                       { margin: 1px; }


//
// Containers
// --------------------------------------------------
.content > .container                  { padding-bottom: @grid-gutter-width / 2; padding-top: @grid-gutter-width / 2;
  section                              { margin-bottom: @line-height-computed;
    & > header                         {
      .nav                             { margin-bottom: 0; position: absolute; right: 0; top: 10px; }
    }
  }
}


//
// Main menu
// --------------------------------------------------
#mainmenu                              {
  .navbar-right                        { margin-right: 0; }
  #search                              {
    .loader                            { display: none; position: absolute; right: @navbar-padding-horizontal * 2; top: 10px; }
    .loading .loader                   { display: inline-block; }
    .tt-dropdown-menu                  { width: 250px; }
    .tt-suggestion                     { .text-overflow(); }
  }
  #signin                              {
    .dropdown-menu                     { padding: 10px; }
    label[for=field-password]          { width: 100%; }
    label[for=field-password] a        { float: right; }
  }
  #notifications .popover-content      { min-width: 250px; }
}


//
// Page title
// --------------------------------------------------
#title                                 {
  .avatar                              { margin-right: 10px; }
}


//
// Ads
// --------------------------------------------------
.ad                                    { text-align: center;
  &.ad140x350                          { margin-top: @grid-gutter-width; max-height: 350px; max-width: 140px; }
  &.ad728x90                           { margin: 10px auto; max-height: 90px; max-width: 728px; }
}


//
// Share
// --------------------------------------------------
.addthis_toolbox                       { background: transparent; margin-top: -75px; padding: 0; right: 5px; top: 50%; }


//
// Modules
// --------------------------------------------------
@import "events.less";
@import "forum.less";
@import "galleries.less";
@import "music.less";
@import "blog.less";


//
// Theming
// --------------------------------------------------
.content.dark,
body.theme-dark                        { background: @dark-body-bg url(../img/background.png); color: @dark-text-color;
  h1                                   { color: @white; text-shadow: 2px 2px 2px fade(@text-color, 20%); }
  h3                                   { color: @white; }
  .popover-title                       { color: @headings-color; }
}
.content.dark .panel,
body.theme-dark .panel,
body.theme-mixed aside.panel           { background-color: @dark-panel-bg; color: @dark-panel-default-text; .panel-variant(@dark-panel-default-border; @dark-headings-color; @dark-panel-default-heading-bg; @dark-panel-default-border);
  .panel-heading                       { border-bottom-color: @dark-panel-inner-border; }
  .panel-title,
  .panel-title a                       { color: @dark-headings-color !important; }

  &.panel-primary {
    .panel-variant(@dark-panel-primary-border; @dark-panel-primary-text; @dark-panel-primary-heading-bg; @dark-panel-primary-border);
  }
  &.panel-success {
    .panel-variant(@dark-panel-success-border; @dark-panel-success-text; @dark-panel-success-heading-bg; @dark-panel-success-border);
  }
  &.panel-info {
    .panel-variant(@dark-panel-info-border; @dark-panel-info-text; @dark-panel-info-heading-bg; @dark-panel-info-border);
  }
  &.panel-warning {
    .panel-variant(@dark-panel-warning-border; @dark-panel-warning-text; @dark-panel-warning-heading-bg; @dark-panel-warning-border);
  }
  &.panel-danger {
    .panel-variant(@dark-panel-danger-border; @dark-panel-danger-text; @dark-panel-danger-heading-bg; @dark-panel-danger-border);
  }
}
.content.dark,
body.theme-dark,
body.theme-mixed aside                 {
  hr                                   { border-color: @dark-hr-border; }
  a:not(.btn):not(.user)               { color: @dark-link-color; }
  a:not(.btn):hover                    { color: @dark-link-hover-color; }
  .user                                { color: @gray-lighter; font-weight: bold; }
  .male                                { color: @brand-info; }
  .female                              { color: @brand-lovely; }
  .user:hover                          { color: @link-hover-color; }

  legend                               { border-bottom: 1px solid @gray-darkest; box-shadow: 0 1px 0 @gray-darker; color: @gray-lighter; }
/*  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input                    { box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .1); color: @white; }
  select                               { color: @white; }
  .input-append .add-on,
  .input-prepend .add-on               { background: @gray-darker; border-color: @input-border; text-shadow: 0 1px 0 @black; }*/

  .close                               { color: @text-color; }

  .text-muted                          { color: @gray; }
  .text-muted a                        { color: @gray-light; }

  .pager                               {
    li                                 {
      > a,
      > span                           { background-color: @dark-pagination-bg; border-color: @dark-pagination-border; }
      > a:hover,
      > a:focus                        { background-color: @dark-pagination-hover-bg; }
    }
    .disabled                          {
      > a,
      > a:hover,
      > a:focus,
      > span                           { background-color: @dark-pagination-disabled-bg; color: @dark-pagination-disabled-color; }
    }
  }

  .pagination                          {
    > li {
      > a,
      > span                           { background-color: @dark-pagination-bg; border-color: @dark-pagination-border; color: @dark-pagination-color; }
    }
    > li > a,
    > li > span                        {
      &:hover,
      &:focus                          { background-color: @dark-pagination-hover-bg; border-color: @dark-pagination-hover-border; color: @dark-pagination-hover-color; }
    }
    > .active > a,
    > .active > span                   {
      &,
      &:hover,
      &:focus                          { background-color: @dark-pagination-active-bg; border-color: @dark-pagination-active-border; color: @dark-pagination-active-color; }
    }
    > .disabled                        {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus                        { background-color: @dark-pagination-disabled-bg; border-color: @dark-pagination-disabled-border; color: @dark-pagination-disabled-color; }
    }
  }

  .nav > li > a:hover                  { background-color: @dark-nav-tabs-active-link-hover-bg; }
  .nav-tabs                            { border-bottom: 1px solid @dark-nav-tabs-border-color;
    > li                               {
      > a:hover                        { border-color: @dark-nav-tabs-link-hover-border-color @dark-nav-tabs-link-hover-border-color @dark-nav-tabs-border-color; }
      &.active > a                     {
        &,
        &:hover,
        &:focus                        { background-color: @dark-nav-tabs-active-link-hover-bg; border-color: @dark-nav-tabs-active-link-hover-border-color; color: @dark-nav-tabs-active-link-hover-color; }
      }
    }
  }
  .nav-pills                           {
    > li > a                           {
      &:hover,
      &:focus                          { background-color: @dark-nav-link-hover-bg; }
    }
    > li {
      &.active > a {
        &,
        &:hover,
        &:focus                        { background-color: @dark-nav-tabs-active-link-hover-bg; color: @dark-nav-tabs-active-link-hover-color; }
      }
    }
  }


/*
  .nav > li > a:hover                    { background-color: @gray-darker; }
  .nav-tabs                              { border-bottom-color: @gray-dark; }
  .nav-tabs > li > a:hover               { background-color: transparent; border-color: @gray-dark; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover        { background-color: transparent; border-color: @link-color; color: @white; }
  .nav-tabs .open .dropdown-toggle,
  .nav-pills .open .dropdown-toggle,
  .nav > li.dropdown.open.active > a:hover { background-color: @gray-dark; border-color: @gray-dark; }
*/

  .thumbnail                             { background: @gray-darkest; border: 1px solid @gray-darkest; }

  blockquote                             { border-left-color: @gray-dark; }
}


/*
// Containers
#title                                 { margin-bottom: 10px;
  .actions                             { float: right; line-height: 36px; margin: 9px 0; }
  .actions:first-child                 { margin: 0; }
}
#side > section + section,
#side > section + article,
#side > article + section,
#side > article + article              { margin-top: @grid-gutter-width; }


section                                { overflow: hidden;
  & > header                           { position: relative;
    .nav                               { margin-bottom: 0; position: absolute; right: 0; top: -5px; }
  }
  td .transparent,
  li .transparent                      { opacity: .1; }
  td:hover .transparent,
  li:hover .transparent                { opacity: 1; }
}
section.border,
#side section:not(.full)               { border: 1px solid @gray-dark; box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  & > header                           { background: fadeout(@gray-darker, 50%); border-bottom: 1px solid @gray-dark; padding: 10px 10px 9px;
    h3                                 { margin: 0; }
    .nav                               { right: 3px; top: 3px; }
    .nav-tabs                          { bottom: -1px; top: auto; }
  }
  & > div                              { background: @gray-darker; padding: 10px; }
}
section.table                          { box-shadow: 0 0 3px rgba(0, 0, 0, .25); margin-bottom: 0;
  table                                { border: 1px solid @gray-dark; }
  thead                                { background: fadeout(@gray-darker, 50%); border-bottom: 1px solid @gray-dark;
    h3                                 { margin: 0; padding: 5px; }
  }
  .table-condensed h4                  { margin: 0; }
  tbody                                { background: @gray-darker; }
}


article header                         { margin-bottom: 10px;
  ul li                                { display: inline; }
  h4 small                             { float: right; padding-right: 3px; }
}

header.sticked                         { background: @body-bg; }
footer.meta                            { color: @gray; }


// jQuery UI
.ui-widget-overlay                     { background: @gray-darker; z-index: @zindex-modal-background !important; }
.ui-dialog                             { background: @gray-dark; border: 1px solid rgba(0, 0, 0, .3); border-radius: 6px; .box-shadow(0 3px 7px rgba(0, 0, 0, .3)); z-index: @zindex-modal !important;
  &.fade                               { .transition(e('opacity .3s linear, top .3s ease-out')); top: -25%; }
  &.fade.in                            { top: 50%; }
  .ui-dialog-titlebar                  { .popover-title; cursor: move;
    .ui-dialog-titlebar-close          { float: right; }
  }
  .ui-dialog-content                   { .popover-content; }
  .ui-dialog-buttonpane                { background-color: @gray-darker; border-radius: 0 0 6px 6px; border-top: 1px solid rgba(0, 0, 0, .3); .box-shadow(inset 0 1px 0 @black); margin-bottom: 0; padding: 14px 15px 15px; .clearfix();
    button                             { float: right; margin-left: 5px; margin-bottom: 0; }
  }
}

#ui-widget                             { background: @gray-dark; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; .box-shadow(0 5px 10px rgba(0, 0, 0, .2)); margin-top: 2px; max-width: 300px; min-width: 160px; overflow: hidden; }
.ui-widget:not(.ui-datepicker-inline)  { #ui-widget; z-index: @zindex-dropdown; }
.ui-autocomplete-loading               { background-image: url("@{icon-ajax-path}"); background-position: right center; background-repeat: no-repeat; }
.ui-autocomplete                       { max-height: 200px;
  a                                    { clear: both; color: @gray; display: block; font-weight: normal; line-height: @line-height-base; padding: 3px 15px; white-space: nowrap; }
  a.ui-state-hover                     { background-color: @link-color; color: @white; text-decoration: none; }
  &.geocoded                           { min-height: 110px; }
  li.geocoded                          {
    a                                  { margin-right: 115px; }
    img                                { display: none; margin-top: -50px; position: absolute; right: 5px; top: 50%; }
  }
  a.ui-state-hover + img               { display: block; }
}
.ui-autocomplete:not(.ui-datepicker-inline) { overflow-y: auto; }
.ui-datepicker-inline                  {
  thead th                             { text-align: right; }
  tbody tr:hover                       { background: @gray-darker; }
  tbody td:hover:not(.ui-datepicker-unselectable) { text-decoration: underline; }
  .ui-datepicker-week-col              { cursor: pointer; text-align: center; }
  .ui-state-active                     { background: @black; }
}
table.ui-datepicker-calendar           {
  a.ui-state-active                    { background: @black; }
  a.ui-state-hover                     { background-color: @link-color; color: @white; }
}


// Miscellaneous
.input-max                             { width: 100%; }
input.date                             { width: 62px; }
select.time                            { width: 75px; }

//p.cut,
.cut li                                { .text-overflow; }


div.loading                            { .ajax; position: absolute; right: 5px; .square(16px); top: 5px; }

.months li.selected li.selected        { font-weight: bold; }

// Speech bubbles
.speech                                {
  .arrow,
  .arrow:after                         { .popover .arrow; }
  .arrow                               { border-right-color: @popover-arrow-color; border-width: @popover-arrow-width @popover-arrow-width @popover-arrow-width 0; position: relative; .pull-left; top: 10px;
    &:after                            { border-right-color: @popover-arrow-outer-color; border-width: @popover-arrow-outer-width @popover-arrow-outer-width @popover-arrow-outer-width 0; bottom: -@popover-arrow-outer-width; left: -1px; }
  }
  .media-body                          { background: @popover-bg; border-radius: 4px; min-height: 30px; padding: 10px; }
}

// Page specific
.ago                                   { float: right; .text-muted; }

// Profile
#user                                  {
  textarea[name=signature]             { font-family: @font-family-monospace; }
}


// Charts
.charts                                {
  th.current                           { font-size: 18px; font-weight: bold; }
  td.previous                          { padding: 0 5px;
    .new                               { text-transform: uppercase; }
    small                              { font-size: 8px; }
    sup                                { color: @brand-success; }
    sub                                { color: @brand-danger; }
  }
  td.track                             { .text-overflow(); }
}
*/


/**
 * Loaned from Foundation by ZURB, http://foundation.zurb.com
 */
.block-grid                            { display: block; overflow: hidden;
  & > li                               { display: block; float: left; height: auto; }
  &.two-up                             { margin-left: -4% }
  &.two-up > li                        { margin-left: 4%; width: 46%; }
/* 	&.two-up > li:nth-child(2n+1)        { clear: left; } */
  &.three-up                           { margin-left: -2% }
  &.three-up > li                      { margin-left: 2%; width: 31.3%; }
/* 	&.three-up > li:nth-child(3n+1)      { clear: left; } */
  &.four-up                            { margin-left: -2% }
  &.four-up > li                       { margin-left: 2%; width: 23%; }
/*  &.four-up > li:nth-child(4n+1)       { clear: left; } */
  &.five-up                            { margin-left: -1.5% }
  &.five-up > li                       { margin-left: 1.5%; width: 18.5%; }
/*  &.five-up > li:nth-child(5n+1)       { clear: left; } */
}


//
// Responsive
// --------------------------------------------------

// Large desktop
@media (min-width: @screen-md-max)     {
}


// Phones and tablets
@media (max-width: @screen-sm-max)     {
}


// Tablets
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}


// Phones
@media (max-width: @screen-xs-max)     {
  body                                 { padding-left: 0; padding-right: 0; }
  #header                              {
    .brand                             { float: none; }
  }
  .ad728x90                            { display: none; }
  #main .events                        {
    .event                             { height: auto; }
  }
}


// Landscape phones
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
}


// Portrait phones
@media (max-width: @screen-xs-min)     {
}






