@import "mixins.less";

// Variables
@bodyColor:             #f5f2ed;
@linkColor:             #00b7e4;
@textColor:             #2b292b;
@femaleColor:           #e4004d;
@maleColor:             #00b7e4;
@userColor:             rgba(106,106,106,0.7);
@darkBodyColor:         #2b292b;
@darkHeaderColor:       #c29d52;
@darkTextColor:         #7b787b;
@darkLightTextColor:    #474647;
@darkUserColor:         #615f61;

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        18px;
@altFontFamily:         @serifFontFamily;


html,
body                                   { font-size: @baseFontSize; }
body                                   { background: @bodyColor; color: @textColor; font-family: @baseFontFamily; }
small                                  { font-size: smaller; }
a                                      { color: @linkColor; text-decoration: none; }
a:hover                                { text-decoration: underline; }


// Semantic UI overrides
.ui                                    {

  // Elements
  &.label a.detail                     { text-decoration: none; }
  &.top.attached.segment               {
    .ui.tabular.menu                   { bottom: 0; margin-right: 1rem; position: absolute; right: 0; }
  }

  // Collections
  &.tabular.menu .active.item          { background: @bodyColor; border-bottom-color: @bodyColor; }
  &.menu.center.aligned                { text-align: center; }
  &.dropdown .menu                     {
    .divider + .item                   { border-top: 0 none; }
  }
  &.table                              {
    tr.left.aligned th,
    tr.left.aligned td,
    th.left.aligned,
    td.left.aligned                    { text-align: left; }
    tr.center.aligned th,
    tr.center.aligned td,
    th.center.aligned,
    td.center.aligned                  { text-align: center; }
    tr.right.aligned th,
    tr.right.aligned td,
    th.right.aligned,
    td.right.aligned                   { text-align: right; }
  }

  // Views
  &.feed.small                         {
    .event                             { padding: .25em 0; }
  }
  &.items > .item                      { min-height: 245px; }

}

// Secondary container
.inverted.theme,
.inverted.container,
.inverted.theme aside,
.mixed.theme aside                     { background-color: @darkBodyColor; color: @darkTextColor;
  h4                                   { color: @darkHeaderColor; }

  // Semantic UI overrides
  .ui                                  {

    // Elements
    &.dividing.header                  { border-bottom-color: rgba(25, 25, 25, .5); }

    // Collections

    // Views
    &.feed                             {
      .content .date                   { color: @darkLightTextColor; }
      .content .summary                { color: @darkTextColor; }
    }

  }

  a.user                               { color: @darkUserColor; }
  .male,
  a.male                               { color: @maleColor; }
  .female,
  a.female                             { color: @femaleColor; }
}


.container > .ui                       { margin: 0 auto; max-width: 924px; }
section + section,
section + aside,
aside + aside                          { margin-top: 2em; }

.nowrap                                { white-space: nowrap; }

a.user                                 { color: @userColor; }
.male,
a.male                                 { color: @maleColor; }
.female,
a.female                               { color: @femaleColor; }
.friend,
a.friend                               { font-weight: bold; }


// Main menu
#mainmenu                              {
  #form-search input                   { .transition(width .25s); width: 9em; }
  #form-search input:focus             { margin-left: -6em; width: 15em; }
  .labels.notifications                { margin-top: -.2em; }
  .avatar                              { margin-bottom: -1em; margin-top: -1em; }
}


/*
@import "bootstrap.less";


// Custom mixins
.ajax                                  { background-image: url("@{iconAjaxPath}"); background-position: right top; background-repeat: no-repeat; }

// Bootstrap overrides
html                                   { height: 100%; }
body                                   { background: @bodyBackground url(../img/background.png); }
article                                { position: relative; }
a                                      { color: @anchorColor; }
a:hover                                { color: @anchorColorHover; }
hr                                     { border-bottom-color: @grayDarker; }
legend                                 { margin-bottom: 0; }
h1                                     { color: @white; font-size: 24px; font-weight: normal; letter-spacing: 1px; text-shadow: 2px 2px 2px fade(@textColor, 20%); }
h2                                     { font-size: 20px; }
h3                                     { font-size: 18px; line-height: 20px; }
h4                                     { font-family: inherit; font-size: 14px; font-weight: bold; }
h5,
h6                                     { font-family: inherit; font-size: 12px; }
h1 small                               { font-size: 18px; }
h2 small                               { font-size: 14px; }
h3 small,
h4 small                               { font-size: 12px; line-height: @baseLineHeight; }

dl,
ul,
form                                   {
  &:last-child                         { margin-bottom: 0; }
  &:only-child                         { margin-top: 0; }
}

legend                                 { border-bottom: 1px solid @grayDarkest; box-shadow: 0 1px 0 @grayDarker; color: @grayLighter; }
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input                      { box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .1); color: @white; }
select                                 { color: @white; }
.form-actions                          { border-top: @grayDarkest; margin: 0; }
.input-append .add-on,
.input-prepend .add-on                 { background: @grayDarker; border-color: @inputBorder; text-shadow: 0 1px 0 @black; }
legend .control-group                  { float: right; }

i[class^="icon-"],
i[class*=" icon-"]                     { font-size: 14px; display: inline-block !important; text-align: center; text-decoration: none !important; width: 14px; }
h1 i[class^="icon-"],
h1 i[class*=" icon-"]                  { font-size: 21px; width: 21px; }
.icon-facebook                         { background: #3B5998; border-radius: 2px; padding: 2px 0 0 2px; }
.label-special                         { background-color: @purple; }
.label-special:hover                   { background-color: darken(@purple, 10%); }
.btn-lovely                            { .buttonBackground(lighten(@pink, 15%), @pink); }
.btn-special                           { .buttonBackground(lighten(@purple, 15%), @purple); }
.btn-lovely,
.btn-lovely:hover,
.btn-special,
.btn-special:hover                     { color: @white; text-shadow: 0 -1px 0 rgba(0, 0, 0, .25); }
.bth-lovely.active,
.btn-special.active                    { border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0,.1) fadein(rgba(0, 0, 0, .1), 15%); color: rgba(255, 255, 255, .75); }

.close                                 { color: @textColor; }

.media,
.media .media                          { margin-top: 10px; }

.muted                                 { color: @gray; }
.muted a                               { color: @grayLight; }

.pager                                 { margin: 5px 0;
  li > a,
  li > span                            { background-color: @paginationBackground; border-color: @paginationBorder; }
  li > a:hover                         { background-color: @paginationActiveBackground; }
  .disabled > a,
  .disabled > a:hover,
  .disabled > span                     { background-color: @grayDarker; }
}
.pagination                            { margin-top: 0; }

.nav > li > a:hover                    { background-color: @grayDarker; }
.nav-tabs                              { border-bottom-color: @grayDark; }
.nav-tabs > li > a                     { border-width: 0 0 4px 0; padding-bottom: 5px; }
.nav-tabs > li > a:hover               { background-color: transparent; border-color: @grayDark; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover        { background-color: transparent; border-color: @linkColor; border-width: 0 0 4px 0; color: @white; }
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover { background-color: @grayDark; border-color: @grayDark; }

.table:last-child                      { margin-bottom: 0; }


.thumbnails > li                       { margin-bottom: 10px; margin-left: 10px; }
.thumbnail                             { border: 1px solid @grayDarkest; }
//.thumbnail > img                       { max-width: auto: width: 100% }

blockquote                             { border-left-color: @grayDark; }


// Layout
#body                                  { min-height: 100%; width: 100%;
  #sidebar,
  #topbar                              { background: fadeout(@navbarInverseBackground, 10%); padding: 0; position: relative; z-index: 2; }
  #sidebar                             { .size(100%, @sidebarWidth); vertical-align: top; }
  #maincontent                         { height: 100%; padding: 0; position: relative; vertical-align: top; z-index: 1;
    & > .background-container          { background: @bodyBackground url(../img/background.png); position: relative; z-index: 2; }
  }
  #footer                              { padding-bottom: 350px;
    & > .background-container          { background: @navbarInverseBackgroundHighlight; bottom: 0; position: fixed; width: 100%; z-index: 1; }
  }
  .background-container > .container-fluid { margin: 0 auto; max-width: 980px; padding: 10px; }
}


// Main menu
#topbar                                {
  .brand                               { color: white; font: small-caps @customFontWeightBold 28px/32px @customFontFamily; letter-spacing: -1px; }
  .section-title                       { color: white; font: @customFontWeightLight 24px/32px @customFontFamily; text-transform: lowercase; }
  .brand:hover,
  .section-title:hover                 { color: @textColor; text-decoration: none; }

  #search                              { float: left;
    form                               { float: left; margin: 0 10px 0 0; }
    label                              { line-height: @topbarHeight; }
  }

  #signin                              { float: left; font-weight: normal; line-height: @topbarHeight; margin-right: 10px; }

  #visitor                             { float: right; line-height: @topbarHeight; margin-right: 10px;
    li                                 { text-align: left; }
    .avatar                            { float: none; }
    a:hover                            { text-decoration: none; }
  }
}
#mainmenu                              { left: 0; position: fixed; top: 0;
  .nav-list                            { padding: 0;
    li a                               { margin: 0; .muted; padding: 4px; text-shadow: none; }
    li:hover a                         { color: white; }
    li.active a                        { background: rgba(0, 0, 0, .5); border-right: 4px solid @linkColor; color: white; padding-right: 0; }
    li.active.menu-home a              { border-right-color: transparent; }
    li i                               { font-size: 21px; line-height: @topbarHeight - 8px; margin: 0; width: @sidebarWidth - 8px; }
    li span                            { display: block; font-size: 9px; line-height: 9px; }
    li.menuitem-notifications          { border: 0 none; text-align: center;
      & > span > a                     { margin: 5px 3px; }
      .close                           { margin-left: 10px; }
    }
  }
}


// Footer
#footer                                {
  nav                                  { text-align: center; }
  nav .nav                             { display: inline-block; }
  hr + section                         { text-align: center; }
}
.kohana                                { display: none; position: relative; z-index: 1; }


// Containers
#title                                 { margin-bottom: 10px;
  .actions                             { float: right; line-height: 36px; margin: 9px 0; }
  .actions:first-child                 { margin: 0; }
}
#side > section + section,
#side > section + article,
#side > article + section,
#side > article + article              { margin-top: @gridGutterWidth; }


.ad                                    {
  &.ad140x350                          { margin-top: @gridGutterWidth; max-height: 350px; max-width: 140px; }
  &.ad728x90                           { margin: 10px auto; max-height: 90px; max-width: 728px; }
}

section                                { overflow: hidden;
  & > header                           { position: relative;
    .nav                               { margin-bottom: 0; position: absolute; right: 0; top: -5px; }
  }
  td .transparent,
  li .transparent                      { opacity: .1; }
  td:hover .transparent,
  li:hover .transparent                { opacity: 1; }
}
section.border,
#side section:not(.full)               { border: 1px solid @grayDark; box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  & > header                           { background: fadeout(@grayDarker, 50%); border-bottom: 1px solid @grayDark; padding: 10px 10px 9px;
    h3                                 { margin: 0; }
    .nav                               { right: 3px; top: 3px; }
    .nav-tabs                          { bottom: -1px; top: auto; }
  }
  & > div                              { background: @grayDarker; padding: 10px; }
}
section.table                          { box-shadow: 0 0 3px rgba(0, 0, 0, .25); margin-bottom: 0;
  table                                { border: 1px solid @grayDark; }
  thead                                { background: fadeout(@grayDarker, 50%); border-bottom: 1px solid @grayDark;
    h3                                 { margin: 0; padding: 5px; }
  }
  .table-condensed h4                  { margin: 0; }
  tbody                                { background: @grayDarker; }
}


article header                         { margin-bottom: 10px;
  ul li                                { display: inline; }
  h4 small                             { float: right; padding-right: 3px; }
}

header.sticked                         { background: @bodyBackground; }
footer.meta                            { color: @gray; }




// jQuery UI
.ui-widget-overlay                     { background: @grayDarker; z-index: @zindexModalBackdrop !important; }
.ui-dialog                             { background: @grayDark; .background-clip(padding-box); border: 1px solid #999; border: 1px solid rgba(0, 0, 0, .3); border-radius: 6px; .box-shadow(0 3px 7px rgba(0, 0, 0, .3)); z-index: @zindexModal !important;
  &.fade                               { .transition(e('opacity .3s linear, top .3s ease-out')); top: -25%; }
  &.fade.in                            { top: 50%; }
  .ui-dialog-titlebar                  { .popover-title; cursor: move;
    .ui-dialog-titlebar-close          { float: right; }
  }
  .ui-dialog-content                   { .popover-content; }
  .ui-dialog-buttonpane                { background-color: @grayDarker; border-radius: 0 0 6px 6px; border-top: 1px solid rgba(0, 0, 0, .3); .box-shadow(inset 0 1px 0 @black); margin-bottom: 0; padding: 14px 15px 15px; .clearfix();
    button                             { float: right; margin-left: 5px; margin-bottom: 0; }
  }
}

#ui-widget                             { background: @grayDark; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; .box-shadow(0 5px 10px rgba(0, 0, 0, .2)); margin-top: 2px; max-width: 300px; min-width: 160px; overflow: hidden; }
.ui-widget:not(.ui-datepicker-inline)  { #ui-widget; z-index: @zindexDropdown; }
.ui-autocomplete-loading               { background-image: url("@{iconAjaxPath}"); background-position: right center; background-repeat: no-repeat; }
.ui-autocomplete                       { max-height: 200px;
  a                                    { clear: both; color: @gray; display: block; font-weight: normal; line-height: @baseLineHeight; padding: 3px 15px; white-space: nowrap; }
  a.ui-state-hover                     { background-color: @linkColor; color: @white; text-decoration: none; }
  &.geocoded                           { min-height: 110px; }
  li.geocoded                          {
    a                                  { margin-right: 115px; }
    img                                { display: none; margin-top: -50px; position: absolute; right: 5px; top: 50%; }
  }
  a.ui-state-hover + img               { display: block; }
}
.ui-autocomplete:not(.ui-datepicker-inline) { overflow-y: auto; }
.ui-datepicker-inline                  {
  thead th                             { text-align: right; }
  tbody tr:hover                       { background: @grayDarker; }
  tbody td:hover:not(.ui-datepicker-unselectable) { text-decoration: underline; }
  .ui-datepicker-week-col              { cursor: pointer; text-align: center; }
  .ui-state-active                     { background: @black; }
}
table.ui-datepicker-calendar           {
  a.ui-state-active                    { background: @black; }
  a.ui-state-hover                     { background-color: @linkColor; color: @white; }
}

// jQuery file upload
.fileinput-button                      { overflow: hidden; position: relative; }
.fileinput-button input                { cursor: pointer; margin: 0; .opacity(0); position: absolute; right: 0; top: 0; }
.files                                 {
  .preview img                         { width: 80px; }
  .name span,
  .name a                              { display: block; .text-overflow; width: 100px; }
  .progress                            { width: 100px; }
  .size,
  .start,
  .cancel,
  .delete                              { text-align: right; white-space: nowrap; }
}
.progress-animated .bar                { background: url(../img/progressbar.gif) !important; filter: none; }
.fileupload-loading                    { background: url(../img/loading.gif); display: none; left: 50%; position: absolute; .square(128px); }
.droparea                              { border: 1px dashed @gray; cursor: default; font-size: 15px; text-align: center; }
.ie .droparea                          { display: none; }

// Miscellaneous
.input-max                             { width: 100%; }
input.date                             { width: 62px; }
select.time                            { width: 75px; }
button[name=private-toggle].active + input { border-color: @purple; }
.private div                           { color: @purple; }

//p.cut,
.cut li                                { .text-overflow; }

a.user                                 { color: @grayLighter; }
.male,
a.male                                 { color: @blue; }
.female,
a.female                               { color: @pink; }
a.user:hover                           { color: @anchorColorHover; }
a.friend                               { font-weight: bold; }
.avatar                                { display: inline-block; float: left; .square(50px); text-align: center;
  &.small                              { .square(25px); }
  img                                  { max-height: 100%; max-width: 100% !important; }
}
.avatar + .user                        { margin-left: 5px; }

div.loading                            { .ajax; position: absolute; right: 5px; .square(16px); top: 5px; }

.months li.selected li.selected        { font-weight: bold; }

.popover                               {
  h3,
  p                                    { color: @textColor; }
  figure                               { text-align: center; }
  .stats                               { background: @popoverTitleBackground; padding: 0 2px; position: absolute; right: 10px; top: 10px; }
}

// BBCode
.markItUpHeader                        { height: 28px; position: relative;
  & > ul                               { left: 0; margin: 0; position: absolute; top: 0; }
  ul ul                                { display: none; list-style-type: none; margin: 0; }
  .btn                                 { text-shadow: none; }
}

#map                                   { .size(250px, 100%);
  img                                  { display: inline; max-width: none; width: auto; }
}

.share .addthis_32x32_style            { height: 32px; }

// Image carousel
#carousel                              {
  img                                  { width: 100%; }
  .carousel-control                    { border-width: 2px; font-size: 20px; height: 20px; line-height: 18px; opacity: .25; margin-top: 0; top: 8px; width: 20px; }
  .carousel-control:hover              { opacity: .9; }
  .carousel-control.left               { left: 8px; }
  .carousel-control.right              { left: 37px; }
  .carousel-indicators li              { cursor: pointer; }
  .btn-group                           { bottom: 5px; left: 5px; position: absolute; }
}

// Speech bubbles
.speech                                {
  .arrow,
  .arrow:after                         { .popover .arrow; }
  .arrow                               { border-right-color: @popoverArrowColor; border-width: @popoverArrowWidth @popoverArrowWidth @popoverArrowWidth 0; position: relative; .pull-left; top: 10px;
    &:after                            { border-right-color: @popoverArrowOuterColor; border-width: @popoverArrowOuterWidth @popoverArrowOuterWidth @popoverArrowOuterWidth 0; bottom: -@popoverArrowOuterWidth; left: -1px; }
  }
  .media-body                          { background: @popoverBackground; border-radius: 4px; min-height: 30px; padding: 10px; }
}

// Page specific
.ago                                   { float: right; .muted; }

// Profile
#user                                  {
  textarea[name=signature]             { font-family: @monoFontFamily; }
}

// Events
#main .dj p                            { font-size: @fontSizeLarge; }
#carousel .empty                       { background: @bodyBackground; border: 1px dashed lighten(@bodyBackground, 5%); display: block; line-height: 200px; text-align: center; }
#carousel .empty:hover                 { text-decoration: none; }
#main .events                          {
  h3                                   { background: @grayDark; border-bottom: 1px solid @gray; }

  .event                               { border-bottom: 1px solid @grayDark; height: 96px; margin-bottom: 5px; padding-bottom: 5px;
    &:last-child                       { border-bottom: 0 none; margin-bottom: 0; padding-bottom: 5px; }
    header,
    h4                                 { margin: 0; }
    .djs                               { max-height: 40px; overflow: hidden; }
    .btn                               { bottom: 3px; position: absolute; right: 3px; }
  }
}

// Forum
.forum-topics .replies                 { text-align: right; }
.post                                  {
  &.owner                              { color: @textColorOwner; }
  &.my                                 { color: @textColorMe; }
  &.admin                              { color: @textColorAdmin; }

  &.permalink:target .bubble           { background: @grayDark; padding-top: @navbarHeight;
    .arrow                             { border-right-color: @grayDark; }
  }
  blockquote                           { font-family: @altFontFamily; font-style: italic;
    p                                  { font-family: @altFontFamily; font-size: inherit; line-height: inherit; }
  }

  footer                               { font-family: @monoFontFamily; font-size: @baseFontSize - 2px; line-height: @baseLineHeight - 2px; margin-top: 10px; .muted; }
}
.post-old                              { margin-top: 15px; text-align: center; }

// Galleries
.thumbnails                            {
  .thumbnail                           { position: relative; }
  h4,
  .description                         { background: rgba(0, 0, 0, .75); bottom: 4px; left: 4px; margin: 0; overflow: hidden; padding: 2px; position: absolute; right: 4px; .transition(all .2s ease-in-out); }
  .stats                               { position: absolute; padding: 0 2px; right: 4px; text-shadow: 1px 1px 1px black; top: 4px; .transition(all .2s ease-in-out); }
  a:hover                              { text-decoration: none;
    h4,
    .description,
    .stats                             { opacity: 0; }
  }
  i + i                                { margin-left: 10px; }
  i.icon-star + i.icon-star,
  i.icon-star + i.icon-star-empty,
  i.icon-star-empty + i.icon-star,
  i.icon-star-empty + i.icon-star-empty { margin-left: 0; }
}
.exif                                  { background: rgba(0, 0, 0, .75); padding: 5px; position: absolute; right: 0; text-align: right; top: 0;
  .toggle                              { float: right; }
  &:hover dl                           { display: block; }
  dl                                   { display: none; margin: 0; }
  dt,
  dd                                   { text-align: left; }
  dt                                   { font-weight: normal; width: 100px; }
  dd                                   { font-weight: bold; margin-left: 120px; }
  i,
  span                                 { line-height: 15px; }
  .iso                                 { font-variant: small-caps; }
}

// Notes
div.image                              { text-align: center;
  figure                               { display: inline-block; margin: 0; position: relative;
	  a.image                            { display: inline-block; }

    .note                              { cursor: help; position: absolute; }
    .notea                             { border: 1px solid rgba(255, 255, 255, .75); border-radius: 2px; .box-shadow(0 5px 10px rgba(0, 0, 0, .75)); position: relative; visibility: hidden; }
    .notet                             { .opacity(0); margin-top: @gridGutterWidth; .transition(opacity .25s ease-in-out); }
    .note:hover .notet                 { .opacity(100); }
  }

  ul.notes                             { display: block;
    li                                 { display: inline; }
  }

	#form-note                           { #ui-widget; display: none; padding: 15px; position: absolute; z-index: @zindexPopover; }
}

.imgareaselect-border1                 { background: url(/ui/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2                 { background: url(/ui/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3                 { background: url(/ui/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4                 { background: url(/ui/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4                 { .opacity(50); }
.imgareaselect-handle                  { background-color: white; border: solid 1px white; .opacity(50); }
.imgareaselect-outer                   { background-color: black; .opacity(50); z-index: 0 !important; }
.imgareaselect-selection               { }

// Charts
.charts                                {
  th.current                           { font-size: 18px; font-weight: bold; }
  td.previous                          { padding: 0 5px;
    .new                               { text-transform: uppercase; }
    small                              { font-size: 8px; }
    sup                                { color: @green; }
    sub                                { color: @red; }
  }
  td.track                             { .text-overflow(); }
}

// Blog
#blogs                                 {
  #main .blog-entry                    { padding-bottom: 10px;
    header h3                          { margin-top: 0; }
    .body                              { font-family: @altFontFamily; }
  }
  #main .blog-entry + .blog-entry      { border-top: 1px solid @grayDark; padding-top: 10px; }
}
*/

/**
 * Loaned from Foundation by ZURB, http://foundation.zurb.com
 */
/*.block-grid                            { display: block; overflow: hidden;
  & > li                               { display: block; float: left; height: auto; }
  &.two-up                             { margin-left: -4% }
  &.two-up > li                        { margin-left: 4%; width: 46%; }
  &.three-up                           { margin-left: -2% }
  &.three-up > li                      { margin-left: 2%; width: 31.3%; }
  &.four-up                            { margin-left: -2% }
  &.four-up > li                       { margin-left: 2%; width: 23%; }
  &.five-up                            { margin-left: -1.5% }
  &.five-up > li                       { margin-left: 1.5%; width: 18.5%; }
}*/


/***** Responsive styles *****/

/* Large desktop */
@media (min-width: 1200px)             {
}


/* Phones and tablets */
@media (max-width: 980px)              {
}


/* Tablets */
@media (min-width: 768px) and (max-width: 980px) {
}


/* Phones */
@media (max-width: 767px)              {
/*  body                                 { padding-left: 0; padding-right: 0; }
  #header                              {
    .brand                             { float: none; }
  }
  .ad728x90                            { display: none; }
  #main .events                        {
    .event                             { height: auto; }
  }*/
}


/* Landscape phones */
@media (min-width: 480px) and (max-width: 767px) {
}


/* Portrait phones */
@media (max-width: 479px)              {
}






