#music                                 {
  .browse .track                       {
    .cover                             { max-height: 120px; text-align: center; width: 120px; }
    .cover i                           { font-size: 60px; opacity: 0.1; padding: 30px; }
    .media-body                        { padding: 10px 10px 10px 0; }
    .djs                               { max-height: 50px; overflow: hidden; }
    img                                { max-width: 100%; }
    h4                                 { margin: 0; }
  }
}
