
<form class="filters pills">
	<fieldset>
		<ul>
			<li>
				<input id="all-{{type}}" type="checkbox" name="filter[]" value="all" checked="checked" />
				<label for="all-{{type}}">All</label>
			</li>
			{{#filters}}
			<li>
				<input id="{{type}}-{{value}}" type="checkbox" name="filter[]" value="{{type}}-{{value}}" />
				<label for="{{type}}-{{value}}">{{label}}</label>
			</li>
			{{/filters}}
		</ul>
	</fieldset>
</form>

<script>
head.ready('jquery-ui', function() {

	function filters(all) {
		if (all) {

			// Open all
			$('form.filters input').each(function() {
				$('.' + this.id + ':hidden').slideDown('normal');
			});

		} else {

			// Filter individually
			$('form.filters input').each(function() {
				if ($(this).is(':checked')) {
					$('.' + this.id + ':hidden').slideDown('normal');
				} else {
					$('.' + this.id + ':visible').slideUp('normal');
				}
			});

		}
	}

	// Hook clicks
	$('form.filters :checkbox').click(function() {
		var checked = $(this).is(':checked');
		if ($(this).val() != 'all') {

			// Individual filters
			if (checked) {

				// Uncheck "all"
				$('form.filters input[value=all]').attr('checked', false);

			}

			// Check "all" if no other filters
			if (!$('form.filters input[value!=all]').is(':checked')) {
				$('form.filters input[value=all]').attr('checked', 'checked');
				filters(true);
			} else {
				filters();
			}

		} else {

			// All filters
			if (!checked) {
				return false;
			}

			$('form.filters input[value!=all]').attr('checked', false);
			filters(checked);

		}
	});

});
</script>
