
<div class="addthis_toolbox addthis_default_style addthis_32x32_style"{{{attributes}}}>
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_google_plusone" g:plusone:count="false"></a>
</div>

{{^script}}
	{{#google_analytics}}
<script>
	var addthis_config;
	head.ready('google-analytics',	function() {
		addthis_config = {
			data_ga_tracker: tracker,
			data_track_clickback: true,
			pubid: '{{id}}'
		};
		addthis_share = {
			templates: {
				twitter: '\{\{title\}\}: \{\{url\}\} (via @{{id}})'
			}
		};

		var at = document.createElement('script'); at.type = 'text/javascript'; at.async = true;
		at.src = 'http://s7.addthis.com/js/250/addthis_widget.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(at);
	});
</script>
	{{/google_analytics}}
	{{^google_analytics}}
<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{id}}"></script>
	{{/google_analytics}}
{{/script}}
