
<section class="main">
	{{>title}}

	{{{view_now}}}

	{{{view_newsfeed}}}

	{{{view_events}}}
</section>

<aside>
	{{{view_birthdays}}}

  {{{side}}}

	{{{view_shouts}}}

	{{{view_online}}}
</aside>
