// Variables
@iconAjaxPath:                             "../img/ajax.gif";


legend                                 { margin-bottom: 0; }

// Main menu
#header                                { background: black; height: @navbarHeight; padding-top: @navbarHeight; }
.navbar-fixed-top                      { background: rgba(0, 0, 0, .8); }
#header .container                     { #grid > .core > .span(@gridColumns); }
.navbar                                { background: @navbarInverseBackground; margin-bottom: 0;
  .brand                               { margin-left: 0; }
  .navbar-search                       { margin-top: 0; }
  #visitor                             { clear: both;
    li.menuitem-profile                { width: 30px;
      a                                { height: auto; margin: 0; padding: 5px 0 0; width: auto; }
    }
  }
}


// Containers
#title                                 { margin-bottom: 10px; }
#side > section + section,
#side > section + article,
#side > article + section,
#side > article + article              { margin-top: @gridGutterWidth; }

.ad                                    {
  &.ad140x350                          { height: 350px; width: 140px; }
  &.ad728x90                           { margin: 10px auto; height: 90px; width: 728px; }
}

section                                { overflow: hidden;
  & > header                           { position: relative;
    .nav                               { position: absolute; right: 0; top: 0; }
  }
  li .transparent                      { .opacity(10); }
  li:hover .transparent                { .opacity(100); }
}

article header                         { margin-bottom: 10px;
  ul li                                { display: inline; }
  h4 small                             { float: right; }
}

header.sticked                         { background: @bodyBackground; }
footer.meta                            { color: @grayLight; }


// Footer
#footer                                {
  nav                                  { text-align: center; }
  nav .nav                             { display: inline-block; }
  hr + section                         { text-align: center; }
}
.kohana                                { display: none; }


// jQuery UI
.ui-dialog                             { background: @bodyBackground; .background-clip(padding-box); border: 1px solid #999; border: 1px solid rgba(0, 0, 0, .3); .border-radius(6px); .box-shadow(0 3px 7px rgba(0, 0, 0, .3)); z-index: @zindexModal;
  &.fade                               { .transition(e('opacity .3s linear, top .3s ease-out')); top: -25%; }
  &.fade.in                            { top: 50%; }
  .ui-dialog-titlebar                  { border-bottom: 1px solid #eee; cursor: move; padding: 9px 15px;
    .ui-dialog-titlebar-close          { float: right; }
  }
  .ui-dialog-content                   { padding: 15px; }
  .ui-dialog-buttonpane                { background-color: #f5f5f5; .border-radius(0 0 6px 6px); border-top: 1px solid #ddd; .box-shadow(inset 0 1px 0 @white); margin-bottom: 0; padding: 14px 15px 15px; .clearfix();
    button                             { float: right; margin-left: 5px; margin-bottom: 0; }
  }
}

#ui-widget                             { background: @bodyBackground; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .2); .border-radius(4px); .box-shadow(0 5px 10px rgba(0,0,0,.2)); margin-top: 2px; max-width: 300px; min-width: 160px; overflow: hidden; }
.ui-widget:not(.ui-datepicker-inline)  { #ui-widget; z-index: @zindexDropdown; }
.ui-autocomplete-loading               { background-image: url("@{iconAjaxPath}"); background-position: right center; background-repeat: no-repeat; }
.ui-autocomplete                       {
  a                                    { clear: both; color: @gray; display: block; font-weight: normal; line-height: @baseLineHeight; padding: 3px 15px; white-space: nowrap; }
  a.ui-state-hover                     { background-color: @linkColor; color: @white; text-decoration: none; }
  &.geocoded                           { min-height: 110px; }
  li.geocoded                          {
    a                                  { margin-right: 115px; }
    img                                { display: none; margin-top: -50px; position: absolute; right: 5px; top: 50%; }
  }
  a.ui-state-hover + img               { display: block; }
}

// jQuery file upload
.fileinput-button                      { overflow: hidden; position: relative; }
.fileinput-button input                { cursor: pointer; margin: 0; .opacity(0); position: absolute; right: 0; top: 0; }
.files                                 {
  .preview img                         { width: 80px; }
  .name span,
  .name a                              { display: block; .text-overflow; width: 100px; }
  .progress                            { width: 100px; }
  .size,
	.start,
  .cancel,
  .delete                              { text-align: right; white-space: nowrap; }
}
.progress-animated .bar                { background: url(../img/progressbar.gif) !important; filter: none; }
.fileupload-loading                    { background: url(../img/loading.gif); display: none; height: 128px; left: 50%; position: absolute; width: 128px; }
.droparea                              { border: 1px dashed @gray; cursor: default; font-size: 15px; text-align: center; }
.ie .droparea                          { display: none; }

// Miscellaneous
.label-special                         { background-color: @purple; }
.label-special:hover                   { background-color: darken(@purple, 10%); }
.btn-special                           { .buttonBackground(lighten(@purple, 15%), @purple); }
.btn-special,
.btn-special:hover                     { color: @white; text-shadow: 0 -1px 0 rgba(0,0,0,.25); }
.btn-special.active                    { color: rgba(255, 255, 255, .75); }

.input-max                             { width: 100%; }
input.private                          { border-color: @purple; }
.private p                             { color: @purple; }

//p.cut,
.cut li                                { .text-overflow; }

a.user                                 { color: @gray; }
.male,
a.male                                 { color: @blueDark; }
.female,
a.female                               { color: @pink; }
a.user:hover                           { color: @linkColorHover; }
a.friend                               { font-weight: bold; }
.avatar                                { display: inline-block; float: left; margin: 5px 10px 5px 0; .square(50px); text-align: center;
  img                                  { max-height: 100%; max-width: 100%; }
}

.popover                               {
  figure                               { text-align: center; }
  .stats                               { position: absolute; right: 17px; top: 17px; }
}

// BBCode
.markItUpHeader                        { height: 28px; position: relative;
  & > ul                               { left: 0; margin: 0; position: absolute; top: 0; }
  ul ul                                { display: none; list-style-type: none; margin: 0; }
}

#map                                   { .size(150px, 200px); }

.share .addthis_32x32_style            { height: 32px; }

// Page specific
.ago                                   { float: right; .muted; }

// Profile
#user                                  {
  #carousel .carousel-control          { top: 35px; }
  #carousel .btn-group                 { bottom: 5px; left: 5px; position: absolute; }

  textarea[name=signature]             { font-family: @monoFontFamily; }
}

// Forum
/*
.forum-group                           {
  tr td:last-child                     { .text-overflow; }
}
*/
blockquote                             { font-family: @altFontFamily; font-style: italic;
  p                                    { font-family: @altFontFamily; font-size: inherit; line-height: inherit; }
}
.post footer                           { font: .75em/1.5 @monoFontFamily; .muted; }
.permalink                             { padding-top: @navbarHeight; position: relative; top: -@navbarHeight; }

// Galleries
.thumbnails                            {
  h4                                   { height: 2 * @baseLineHeight; overflow: hidden; }
  i + i                                { margin-left: 10px; }
  i.icon-star + i.icon-star,
  i.icon-star + i.icon-star-empty,
  i.icon-star-empty + i.icon-star,
  i.icon-star-empty + i.icon-star-empty { margin-left: 0; }
}
.months li.selected li.selected        { font-weight: bold; }

// Notes
div.image                              { text-align: center;
  figure                               { display: inline-block; margin: 0; position: relative;
	  a.image                            { display: inline-block; }

    .note                              { cursor: help; position: absolute; }
    .notea                             { border: 1px solid rgba(255, 255, 255, .75); .border-radius(2px); .box-shadow(0 5px 10px rgba(0, 0, 0, .75)); position: relative; visibility: hidden; }
    /*.notea:before                      { border: 1px solid black; .border-radius(3px); content: ''; height: 100%; margin: -2px 0 0 -2px; padding: 1px; position: absolute; width: 100%; }*/
    .notet                             { .opacity(0); margin-top: @gridGutterWidth; .transition(opacity .25s ease-in-out); }
    .note:hover .notet                 { .opacity(100); }
  }

  ul.notes                             { display: block;
    li                                 { display: inline; }
  }

	#form-note                           { #ui-widget; display: none; padding: 15px; position: absolute; z-index: @zindexPopover; }
}

.imgareaselect-border1                 { background: url(/ui/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2                 { background: url(/ui/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3                 { background: url(/ui/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4                 { background: url(/ui/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4                 { .opacity(50); }
.imgareaselect-handle                  { background-color: #fff; border: solid 1px #000; .opacity(50); }
.imgareaselect-outer                   { background-color: #000; .opacity(50); }
.imgareaselect-selection               { }



/**
 * Loaned from Foundation by ZURB, http://foundation.zurb.com
 */
.block-grid                            { display: block; overflow: hidden;
  & > li                               { display: block; float: left; height: auto; }
  &.two-up                             { margin-left: -4% }
  &.two-up > li                        { margin-left: 4%; width: 46%; }
/* 	&.two-up > li:nth-child(2n+1)        { clear: left; } */
  &.three-up                           { margin-left: -2% }
  &.three-up > li                      { margin-left: 2%; width: 31.3%; }
/* 	&.three-up > li:nth-child(3n+1)      { clear: left; } */
  &.four-up                            { margin-left: -2% }
  &.four-up > li                       { margin-left: 2%; width: 23%; }
/*  &.four-up > li:nth-child(4n+1)       { clear: left; } */
  &.five-up                            { margin-left: -1.5% }
  &.five-up > li                       { margin-left: 1.5%; width: 18.5%; }
/*  &.five-up > li:nth-child(5n+1)       { clear: left; } */
}


/***** Responsive styles *****/

/* Large desktop */
@media only screen and (min-width: 1200px) {
  #header .container                   { width: (@gridColumnWidth1200 + @gridGutterWidth1200) * @gridColumns - @gridGutterWidth1200; }
}


/* Phones and tablets */
@media only screen and (max-width: 980px) {
  #header                              { height: auto; padding-top: 0;
    .container                         { width: auto; }
    .brand                             { margin: 0; }
  }
}


/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 980px) {
}


/* Phones */
@media only screen and (max-width: 767px) {
  #header                              {
    .navbar-fixed-top                  { margin: 0; }
    .brand                             { float: none; }
  }
  .authenticated #visitor              { margin-top: -2 * @navbarHeight; }
  .ad728x90                            { display: none; }
}


/* Landscape phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}


/* Portrait phones */
@media only screen and (max-width: 479px) {
}






