
{{#views_top}}

<!-- TOP -->

{{{top}}}
{{{middle}}}
{{{bottom}}}

<!-- /TOP -->

{{/views_top}}

{{#views_main}}

<!-- MAIN -->

{{{top}}}
{{{middle}}}
{{{bottom}}}

<!-- /MAIN -->

{{/views_main}}

{{#views_side}}

<!-- SIDE -->

<aside>
	{{{top}}}
	{{{middle}}}
	{{{bottom}}}
</aside>

<!-- /SIDE -->

{{/views_side}}
